<!DOCTYPE html>
<html>
  <head>
    <title>WebdizaEgne</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <head>
    <meta charset="utf-8">
    <title>Bootswatch: Solar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
   </head>

  <header>
  <%= render 'layouts/navbar' %>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
  <%= render 'layouts/footer' %>
  </footer>

</html>
